.spacer {
  flex: 1 1 auto;
}
.letter-color{
  font-size: 3rem;
  color: black;

}
button:focus{
  outline: none;
}
.button-position {
  margin-right: 30px;
}

mat-toolbar {
  background: #96ca3a;
  color: white;
  h3{
  text-shadow: 2px 2px 5px white;
  font-size: 2rem;
  }
}
