mat-form-field{
  width:100%;
  margin-bottom: 10px;
  color: white;
  mat-placeholder,mat-hint{
    color: white;
  }
}

:host ::ng-deep  .mat-form-field-appearance-legacy,.mat-form-field-label{
    color: white;
    padding: 10px;
     .mat-form-field-underline{
      background-color: rgb(150, 202, 58);
    }
}
table{ 
  width: 100%;
  background-color: #ffffff4f;
  mat-expansion-panel{
    background-color: #cac5c54f;
    mat-panel-description{
      justify-content: flex-end;
    }
    mat-checkbox{
      margin: 10px;
    }
    button{
      float: right;
    }
  }
}
:host ::ng-deep td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
  padding-right: 24px;
  padding-left: 24px;
}
 