<section class='signup'>

  <form fxLayout='column' fxLayoutAlign='center center' fxLayoutGap='10px' #f='ngForm' (ngSubmit)='onSubmit(f)'>
      <h3>Please sign up.</h3>
    <mat-form-field>
      <input
      type="email"
      matInput
      placeholder="Your e-mail"
      ngModel
      name='email'
      email
      required
      #emailinput='ngModel'>
      <mat-error *ngIf='emailinput.hasError("required")'>Field must not be empty!</mat-error>
      <mat-error>E-mail is invalid!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      type="password"
      matInput
      placeholder="Your password"
      ngModel
      name='password'
      required
      minlength="6">
      <mat-hint>Should be at least 6 characters</mat-hint>
    </mat-form-field>
    <button type='submit' mat-button [disabled]='f.invalid'>Sign Up</button>
  </form>
</section>
