.restaurant-card{
  border-radius: 5px;
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #0000003b;

img.image-responsive {
  width: 150px;
}
}

