<div class="container">
  <div class="row" *ngFor="let restaurant of restaurants">
    <!-- <div class="col-3"></div> -->
    <div class="col-8 restaurant-card">
      <img [src]="restaurant.image" class="image-responsive " />
      <div class="col-5">
        <h4>{{ restaurant.name }}</h4>
        <p>Adresa: {{ restaurant.adress }}</p>
        <p>Telefon: {{ restaurant.phone }}</p>
        <p>Usluga: {{ restaurant.description }}</p>
      </div>
      <!-- <ng-template #norestaurants>
        No restaurants loaded!
      </ng-template> -->
    </div>
    <!-- <div class="col-3"></div> -->
  </div>
</div>
