.container{
   align-items: center;
   display: inline;
   .row{
    margin: 0;
  }
  .restaurant-card{
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    p{
      margin: 0;
    }
     img.image-responsive {
      width: 100px;
      border-radius: 50%;
     }
  }

}



.example-card {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  background-color: #ffffff4f;
}

.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 100px;
  height: 100px;
}
