<div class="container" *ngIf='restaurants?.length > 0, else norestaurants'>
  <div class="row">
    <div
      class="col-8 restaurant-card"
      *ngFor="let restaurant of restaurants"
    >

        <!-- <img [src]="restaurant.image" class="image-responsive " /> -->
        <div class='col-5'>
          <h4>{{ restaurant.name }}</h4>
          <p>Adresa: {{ restaurant.adress }}</p>
          <p>Telefon: {{ restaurant.phone}}</p>
          <p>Usluga: {{ restaurant.description }}</p>
        </div>
        <ng-template #norestaurants>
          No restaurants loaded!
        </ng-template>

    </div>
  </div>
</div>
